# visit https://giscus.app to get your Giscus ids
NEXT_PUBLIC_GISCUS_REPO=Tergeltengis/portfolio
NEXT_PUBLIC_GISCUS_REPOSITORY_ID=R_kgDOLeNR2A
NEXT_PUBLIC_GISCUS_CATEGORY=General
NEXT_PUBLIC_GISCUS_CATEGORY_ID=DIC_kwDOLeNR2M4Cd2-4
NEXT_PUBLIC_UTTERANCES_REPO=https://github.com/Tergeltengis/portfolio
NEXT_PUBLIC_DISQUS_SHORTNAME=@tergeltengisbayarsaikhan

NEXT_UMAMI_ID=7mhOrYzvoNS2FmqKO0Dx0q5vkIczPVK9

MAILCHIMP_API_KEY=
MAILCHIMP_API_SERVER=
MAILCHIMP_AUDIENCE_ID=

BUTTONDOWN_API_KEY=

CONVERTKIT_API_KEY=
# curl https://api.convertkit.com/v3/forms?api_key=<your_public_api_key> to get your form ID
CONVERTKIT_FORM_ID=

KLAVIYO_API_KEY=
KLAVIYO_LIST_ID=

REVUE_API_KEY=

EMAILOCTOPUS_API_KEY=
EMAILOCTOPUS_LIST_ID=
